.item {
  margin: 0;
  padding: 5px;
}

.item a {
  display: block;
  width: 50px;
  color: #000;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 30px;
}

.item a:hover:not(.active) {
  color: #ffffff;
  background-color: #4a9e9e;
}

.item .active {
  color: #ffffff;
  background-color: #059862;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item p {
  margin: 0;
}
