.nav {
  grid-area: n;
  background-color: azure;
  padding: 20px;
}

.nav .ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px dotted #0576ff;
}

.nav .ul .item {
  margin: 0;
  margin-bottom: 15px;
}

.nav .ul .item a {
  display: block;
  color: #000;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 30px;
}

.nav .ul .item a:hover:not(.active) {
  color: #ffffff;
  background-color: #555555;
}

.nav .ul .item .active {
  color: #ffffff;
  background-color: #059862;
}
