.item {
    color: #8c7f7f;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: ghostwhite;
    border-bottom: 2px dotted #000000;
    min-width: 350px;
    border-radius: 15%;
    box-shadow: 10px 10px 14px #ffb3b3;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}