.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 0;
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.dialogsItems .dialog {
    margin: 0;
    margin-bottom: 5px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);

}

.dialogsItems .dialog:hover {
    font-size: 28px;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dialogsItems .dialog a {
    text-decoration: none;
    padding: 10px;
}

.dialogsItems .active {
    color: red;
}

.messages {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.messages .message {
    padding: 0;
    margin-bottom: 5px;
    display: flex;
}

.messages .message:nth-of-type(2n) {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    /*order: 1;*/
}

.messages .message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.messages li textarea {
    height: 60px;
    width: 600px;
    /*align-self: center;*/
    margin: 10px 0 10px 0;
}

.messages li button {
    display: block;
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
    padding: 15px;
    /*align-self: center;*/
}

.messages li .buttonBlue,
.messages li .buttonBlue:before {
    background: #0576ff;
    box-shadow: #24f8ff 3px 1px 5px;
    background: -moz-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0, #0576ff), color-stop(100%, #24f8ff));
    background: -webkit-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: -o-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: -ms-linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    background: linear-gradient(45deg, #0576ff 0, #24f8ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1)
}

.messages li .buttonBlueEffect {
    display: block;
    border-radius: 5px;
    transition: all .5s;
    filter: hue-rotate(0);
    color: #FFF;
    text-decoration: none;
}

.messages li .buttonBlueRotate:hover {
    filter: hue-rotate(135deg)
}

